body {
  background-color: #fefefe;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.box {
  width: 200px;
  height: 200px;
  /* background-color: #60a9ff; */
  cursor: pointer;
}
