form {
  font-weight: 900;
  font-size: 1.3em;
  font-family: monospace;
}

span {
  color: red;
}

input[type='submit'] {
  background-color: white;
  cursor: pointer;
  margin: 5px 0;
}

#submit {
  display: none;
}

.error_field_1,
.error_field_2 {
  display: none;
}
