* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 255, 255, 0.452);
  width: 100%;
  font-size: 1rem;
  justify-content: space-between;
}

header img {
  width: 5%;
}

header > ul {
  list-style-type: none;
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
  width: 33%;
}

ul li {
  padding: 5%;
  width: 33%;
  text-decoration: none;
  list-style-type: none;
}

ul li a {
  text-align: center;
}

ul li:hove:not("img") {
  background-color: rgb(0, 217, 255);
  color: white;
}

main {
  display: flex;
  flex-direction: row;
  background-color: #eee;
}
