.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 1em;
}

.box1 {
  grid-row: 1;
  grid-column: 1/4;
  background-color: black;
}

.box2 {
  grid-row: 2/4;
  grid-column: 1/3;
  background-color: orange;
}

.box3 {
  grid-row: 2/4;
  background-color: green;
}

.box4 {
  grid-row: 4/6;
  grid-column: 1/4;
  background-color: blue;
}
